# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
*.pyc
*.*~
*.bat
MANIFEST~
*.sublime-project
*.sublime-workspace
_build/*
conf.py
Makefile
index.py
*.bak
.vscode/*