/* --------------------- * 
 * Contact page's styles
 * --------------------- */
.contact {

  width: 80%;
  margin: 0 auto;
  padding: 10px;

  background: $light-background;

  border: solid 1px $dark-background;
  border-radius: 10px;

  address { 
    display: block;
    font-style: italic;
  }  
}

