footer {
    
  @extend .box-shadow-top;

  min-height:  200px;
  color:       #555;  
  text-align:  center;
  font-size:   0.7em;
  padding-top: 2em;

  span {  
    font-family: $font-family-impact;
    letter-spacing: 0.4em;
  }

  img {
    margin-left: 0.5em; 
    height: 1em;
  }

  .copyright {
    width: 30%;
    margin: 0 auto;
    padding: 0.5em;

    display: flex;
    align-items: center;
    justify-content: center; 
    
    @include av-mq(pocket) {
       width: 60%;
    }
  }   
}