/* ----------------------- *
 *  Images
 * ----------------------- */
.sm-photo {
  height: 10em;
  margin: 1em;
}

.me-photo {
  height: 15em;
  margin: 1em;
}

.lg-photo {
  height: 20em;
  margin: 1em;
}