/**
 * Receipt's content styles
 */
 .receipt-list {

    $border-color: #ccc;

    .letter  {
        font-size: 0.75em;
        padding-left: 0.75em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        background: #eee;
    }

    ul {
        list-style-type: none;
    } 

    a {
        color: #333;
    }
   
    li {
        display: block;
        padding: 0.75em;
        padding-left: 1em;
        border: 1px solid $border-color; 
    }   

    //Don't let the images overflow the container
    img {
        width: 100%;
        height: auto;
    }   

}