
{% extends "base.html" %}

{% block title %}Tahmatassujen reseptit{% endblock %}
{% block history %}api{% endblock %}
{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Tahmatassu-API</strong>
	</div>

<div class="panel-body">

<div class="panel panel-info">
	<div class="panel-heading">
		<strong>Tahmatassu-API documentation, this page</strong>
	</div>
	<div class="panel-body">
		<h3>Method: <span class="method">GET</span></h3>
		<p>Route: <span class="route">/api</span></p>
		<p>Return this page</p>
	</div>
</div>

<div class="panel panel-info">
	<div class="panel-heading">
		<strong>Return a recipe from the storage</strong>
	</div>
	<div class="panel-body">
		<h3>Method: <span class="method">GET</span></h3>
		<p>Route: <span class="route">/recipe/</span><span class="param">:name</span></p>	
		<p>Return recipe with given <span class="param">:name</span></p>

<pre>
Response JSON:
{
   "markdown":"",
   "name":"Lihapullat.md",
   "modified":"2014-03-20 23:05:10",
   "created":"2014-03-20 20:17:55"
}
</pre>
	</div>
</div>

<div class="panel panel-info">
	<div class="panel-heading">
		<strong>List names of all recipes, these names can be used to read fetch the recipes</strong>
	</div>
	<div class="panel-body">
		<h3>Method: <span class="method">GET</span></h3>
		<p>Route: <span class="route">/recipes</span></p>


<pre>
Response JSON:
["Lihapullat.md", "Repesti.md","Desu.md"]
</pre>

	</div>
</div>

<div class="panel panel-info">
	<div class="panel-heading">
		<strong>Store a recipe to service. Takes a JSON-data in body.</strong>
	</div>
	<div class="panel-body">
		<h3>Method: <span class="method">PUT,POST</span></h3>
		<p>Route: <span class="route">/recipe</span></p>
		
<pre>
Response JSON:
{
   "markdown":"",
   "name":"Lihapullat",
   "modified":"2014-03-20 23:05:10",
   "created":"2014-03-20 20:17:55"
}
</pre>

	</div>
</div>
</div>
</div>
{% endblock %}