<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      
      <meta name="description" content="Finnish Cook Book">

      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <title>{% block title %}{% endblock %}</title>

      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">

      <link rel="stylesheet" href="/static/css/normalize.min.css">
      <link rel="stylesheet" href="/static/css/main.style.css">

      <link rel="icon" href="/static/icons/touch-icon-iphone.png" type="image/png" />
      <link rel="apple-touch-icon" href="static/icons/touch-icon-iphone.png" />
      <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/touch-icon-ipad.png" />
      <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/touch-icon-iphone-retina.png" />
      <link rel="apple-touch-icon" sizes="152x152" href="/static/icons/touch-icon-ipad-retina.png" />
  </head>
  <body>

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Avaa menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/"><img class="pawlogo" src="/static/img/paw.png" /></a>      
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="{% if nav == "recipes" %}active{% endif %}"><a href="/">Reseptit</a></li>            
          <li class="{% if nav == "about" %}active{% endif %}" ><a href="/about">Info</a></li>        
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="{% if nav == "edit" %}active{% endif %}" ><a href="/edit">Luo uusi</a></li>       
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </div>
              
    <div class='main container'>      
      {% block content %}{% endblock %}      
    </div> <!-- #main-container -->

    <div id="modal-dialog" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Haluatko varmasti poistaa reseptin?</h4>
          </div>
          <div class="modal-body">
            <button type="button" class="btn btn-default" data-dismiss="modal">Peruuta</button>
            <button type="button" class="btn btn-warning delete">Poista</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <script src='/static/js/jquery.1.11.0.js'></script>    
    <script src='/static/js/bootstrap.min.js'></script> 
    <script src='/static/js/main.js'></script>
  </body>
</html>