{% extends "base.html" %}
{% block title %}Tahmatassujen reseptit{% endblock %}
{% block history %}edit&recipe={{filename}}{% endblock %}
{% block content %}
<div id="editor" class="jumbotron">  

	<div class="input-group">
		<input type="text" class="form-control" 
			   placeholder="Tiedoston nimi" 
			   name="filename" 
			   value="{{filename}}" readonly
			   data-toggle="popover" data-placement="right" 
			   data-content="Tiedoston nimi on jo käytössä, nimeä resepti uudelleen.">
		<span class="input-group-addon">.md</span>
	</div>

<br />

<textarea id="editor" class="form-control" rows="10">
{% autoescape off%}{{markdown}}{% endautoescape %}
</textarea>

	<div class="btn-group pull-right">
		<a href="{{editurl}}">
			<button type="button" class="btn btn-default cancel-btn">Palaa</button>
		</a>
  		<a><button type="button" class="btn btn-default save-btn">Tallenna</button></a>
	</div>	
</div>
{% endblock %}