{% extends "base.html" %}
{% block title %}Tahmatassujen reseptit{% endblock %}

{% block content %}


<ul class="list-group recipe-list">  
{% for recipe in recipes %}
  <li class="list-group-item"><a href="recipe/{{ recipe.filename }}">{{ recipe.title }}</a>
  <span class="remove" data-recipename="{{recipe.filename}}">&times;</span></li>
{% endfor %}
</ul>

<div class="btn-group pull-right">
	<a href="/edit"><button type="button" class="btn btn-default cancel-btn">Luo uusi</button></a>
</div>	

{% endblock %}