body {
  min-height: 2000px;
  padding-top: 70px;
  background: url('../img/crossword.png') repeat;
}

.main {
    font-family:Georgia, Palatino, serif;    
}

.main ul {
    font-size: 21px;
}

.main .jumbotron img {	
    max-width: 100%;
}

.jumbotron {
	background: url('../img/sos.png') repeat;	
}

.main .imageauto { 
	width: auto;
	margin: 0em 1em;
}

.pawlogo {
	width: 32px;
	margin: 10px;
	float:left;
}

@media print
{     	
	a[href]:after { display:none; }  	
}

.fullsize-textarea {
	margin: 0.5em 0;
	padding: 0.5em;
	font-size: 1.2em;
	font-family: Tahoma, sans-serif;
	resize: vertical;
	width:100%;
	min-height: 600px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}