{% extends "base.html" %}{% set nav='recipes' %}
{% block title %}Tahmatassujen reseptit{% endblock %}
{% block history %}{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div class="row">
    <div class="btn-group pull-right">
        <a href="/edit" class="btn btn-default cancel-btn">Luo uusi</a>
    </div>  
</div>
{% endif %}

<div class="row">
<ul class="list-group recipe-list">  
{% for key, recipe_list in recipes.items() %}
    <li class="list-group-item letter">
    {{key}}
    </li>
    {% for recipe in recipe_list %}
        <li class="list-group-item">
            <a href="recipe/{{ recipe.filename|urlencode() }}">
                {{ recipe.title|default( recipe.filename, true) }}
            </a>
            
            {% if user.is_authenticated %}
            <span class="remove" data-recipename="{{recipe.filename|urlencode()}}">&times;</span>
            {% endif %}
        </li>
    {% endfor %}
{% endfor %}
</ul>
</div>
{% endblock %}