<div id="modal-dialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Haluatko varmasti poistaa reseptin?</h4>            
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default" data-dismiss="modal">Peruuta</button>
        <button type="button" class="btn btn-warning delete">Poista</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
