{% extends "base.html" %}{% set nav="images" %}
{% block title %}Tahmatassujen reseptit{% endblock %}
{% block history %}about{% endblock %}
{% block content %}
  <div class='jumbotron'>

    <h2>Kuvat</h2>

    <table class="table table-striped">

      {% for file in files %}
        <tr>
          <td>
            <img class="small-image img-circle" 
                  src="{{base_url}}/{{file|urlencode}}" 
                  width="50" height="50" 
                  alt="{{file|urlencode()}}">
          </td>
          <td class="text-middle">
            <a href="{{base_url}}/{{file|urlencode()}}">
              <span class="image" data-imageurl="{{base_url}}/{{file|urlencode()}}">
                {{base_url}}/{{file}}
              </span>
            </a>    
          </td>
          <td class="text-middle">
            <span>{{ file_size(upload_directory, file) }}</span> <span class="unit text-right">KiB</span>
          </td>
        </tr>
      {% endfor %}
    </table>

    
    <h2>Lisää kuvia </h2>


    <form action="upload" method="post" enctype="multipart/form-data">
        <p>            
            <input class="btn fileupload" type="file" name="file" title="Selaa" />            
            <button type="submit" class="btn btn-default">Lähetä tiedosto</button>
       </p>
    </form>

    {% if error %}
    <div class="alert alert-warning">
        Lähettämäsi tiedoston koko on liian suuri, suurin sallittu koko tiedostolle on 2 MBit. Ole hyvä ja 
        tarkasta lähettämäsi kuvan koko. Sallitut kuva formaatit ovat jpg, png ja gif.
    </div>
    {% endif %}

  </div>
{% endblock %}