<section class="content-block about-mew">
  
  <h1>Contact Information</h1>

  <h2>Phone</h2>
  <p>+358 400 164 739</p>

  <h2>Email</h2>
  <p>teemuki@gmail.com</p>
   
  <h2>Home Address</h2>
  
  <address>
    Lehtimetsänkatu 8 A 5<br />
    33820 Tampere<br />
    Finland<br />
  </address>  

  <form>
    <input type="text" name="name">
    <textarea name="message"></textarea>
    <button type="submit">Lähetä</button>
  </form>

</section>
