<div class="content-block top-block receipt">
  
  <div class="grid grid--center">
    <div class="2/3--lap-and-up 1/1--pocket 1/1--palm 1/1--pocket grid__cell">
        <button class="btn">Edit</button>
    </div>  
  </div>
  
  <div class="grid grid--center">
    <div class="2/3--lap-and-up 1/1--pocket 1/1--palm 1/1--pocket grid__cell">
        {{{markdown markdown}}}  
    </div>  
  </div>
</div>